<!DOCTYPE html>

<html>

<head>
    <title>Message Logs</title>
    <link rel="stylesheet" href="/css/styles.css">
    <style>
        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        th,
        td {
            padding: 15px;
        }
    </style>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <br><br><br>
        <table>
            <tr>
                <th>DATE</th>
                <th>UUID</th>
                <th>FROM</th>
                <th>TO</th>
                <th>MESSAGE</th>
            </tr>
            <tr>
                <td>{{ date }}</td>
                <td>{{ uuid }}</td>
                <td>{{ fromNum }}</td>
                <td>{{ toNum }}</td>
                <td>{{ message }}</td>
            </tr>
        </table>



    </div>

    {{>footer}}
</body>

</html>