<!DOCTYPE html>

<html>

<head>
    <title>Message Logs</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css"
        integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
    
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
        integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        {{>header}}

        <form id="form2">
            <div class="form-group">
                <input name="fromDate" placeholder="from date">
            </div>
            <div class="form-group">
                <input name="toDate" placeholder="to date">
            </div>
            <button type="submit" class="btn btn-outline-dark">Filter</button>
        </form>
        <br><br><br>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>DATE</th>
                <th>FROM</th>
                <th>TO</th>
                <th>DIRECTION</th>
                <th>STATE</th>
            </tr>
            </thead>
            <tbody>
                {{#each logs}}
                <tr>
                    <td>{{ this.id }}</td>
                    <td>{{ this.messageTime }}</td>
                    <td>{{ this.fromNumber }}</>
                    <td>{{ this.toNumber }}</td>
                    <td>{{ this.messageDirection }} </td>
                    <td>{{ this.messageState }}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    
    </div>
    {{>footer}}

    <script src="../../public/js/app.js"></script>
</body>

</html>